{% load tailwind_filters %} {% if form %}
<div class="py-20 mx-24" hx-target="this" hx-swap="outerHTML">
  <h1 class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">
    Contact
  </h1>
  <form method="post" class="flex flex-col pt-8">
    {% csrf_token %} {{ form|crispy }}
    <div class="mt-2 flex justify-end">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        type="submit"
        hx-post="{% url 'contact' %}"
      >
        Submit
      </button>
    </div>
  </form>
</div>
{% endif %}
