<!-- Header -->
<header class="bg-gray-900">
  <nav
    class="mx-auto flex max-w-7xl justify-center p-6 lg:px-8 lg:gap-x-12"
    aria-label="Global"
  >
    <a
      href="{% url 'home' %}"
      class="text-sm font-semibold leading-6 text-white"
      >Home</a
    >
    <a
      href="{% url 'blogs' %}"
      class="text-sm font-semibold leading-6 text-white"
      >Blog</a
    >
    <a
      href="{% url 'about' %}"
      class="text-sm font-semibold leading-6 text-white"
      >About</a
    >
  </nav>
</header>
